# Excercise

This is the excersie file for the python basic workshop

### Printing

Q1) Print your name along with roll number in the terminal. <br>

In [ ]:
# Write your code here:
print()

```*``` Using three print statements, print the title of your 3 favourite TV Shows in a single continuous line with each title in a different print statement.<br>
Output Format -> 
``` title1    title2    title3```

In [ ]:
# Write your code here:
# don't delete or add anything new, just write the required code inside the 3 print satements

print()
print()
print()

### Variables

Q2) Out of the following name pick out the variables with valid names.
* myvar = "John"
* my_var = "John"
* _my_var = "John"
* 2myvar = "John"
* myVar = "John"
* my-var = "John"
* my var = "John"
* MYVAR = "John"
* myvar2 = "John"

In [ ]:
try:
    # initialize the variables here
    
except:       
    #dont write here
    print("Wrong Answer, Try Again!")

Q3) Create a ```int``` variable with value 20. Now add 20 to this variable. Create a ```string``` variable with your name as value, now add another string (surname) to this. Print the reuslts along with their data types and also write in comments the name of this operation. *Don't hard code anything*

In [ ]:
integer = # code here
string = # code here

# code here